extends ./parts/layout.jade
block vars
    - page = 'Essays';
      main
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')    
    script(src='/js/process-text-bundle.js')
    br
    .container-fluid
        .row
            .col-lg-12
                h1.page-header
                    | Proofreads 
                    small All the essays you have ever DoubleChecked
                ol.breadcrumb
                    li.active
                        i.fa.fa-dashboard
                        #essay-name
        .row
            .col-lg-12
                .alert.alert-info.alert-dismissable
                    button.close(type='button', id='finished', data-dismiss='alert', aria-hidden='true') ×
                    i.fa.fa-info-circle
                    strong Proofreading finished!
        .row
            .col-lg-12
                .btn-group
                    button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Action
                    .dropdown-menu
                        a.dropdown-item(href='#') Action
                        a.dropdown-item(href='#') Another action
                        a.dropdown-item(href='#') Something else here
                        .dropdown-divider
                        a.dropdown-item(href='#') Separated link
        .row
            .col-lg-3.col-md-6
                .panel.panel-default
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-comments.fa-5x
                            .col-xs-9.text-right
                                #grammar-errors
                                .huge one sec..
                                div Grammar errors
                    a(href='#')
                        .panel-footer
                            span.pull-left More info
                            span.pull-right
                                i.fa.fa-arrow-circle-right
                            .clearfix
            .col-lg-3.col-md-6
                .panel.panel-default
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-tasks.fa-5x
                            .col-xs-9.text-right
                                #spelling-errors
                                .huge hold up..
                                div Spelling errors
                    a(href='#')
                        .panel-footer
                            span.pull-left More info
                            span.pull-right
                                i.fa.fa-arrow-circle-right
                            .clearfix
        .row
            .col-lg-12
                .jumbotron
                    h2 #{essay} 
