include mixins
+nav("DoubleCheck", "dropdown_menu")
    +nav_item( "index.html", "active" ) Home
    +nav_item( "about.html" ) About
    +nav_item( "contact.html" ) Contact
    +nav_item_dropdown( "#" )( label="Dropdown")
        +nav_item( "#" ) Action
        +nav_item( "#" ) Another action
        +nav_item( "#" ) Something else here
        +nav_divider
        +nav_header Nav header
        +nav_item( "#" ) Separated link
        +nav_item( "#" ) One more separated link
html
  head
    link(href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/slate/bootstrap.min.css', rel="stylesheet") 
    //, integrity="sha384-X9JiR5BtXUXiV6R3XuMyVGefFyy+18PHpBwaMfteb/vd2RrK6Gt4KPenkQyWLxCC", crossorigin="anonymous")	
  body
    div.container
      div.jumbotron
        h1 College Essays
        p
          | now slightly less terrible 
        p
          a.btn.btn-info.btn-lg Learn more
      blockquote
        p
          | DoubleCheck is fucking raw.
        small
          | From  
          cite(title='My Ass') My Ass
      blockquote.blockquote-reverse
        p
          | I shit myself.
        small
          | Said by 
          cite(title='Some Guy') Some Guy

