doctype html
html.no-js(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Nifty Modal Window Effects
    meta(name='description', content='Nifty Modal Window Effects with CSS Transitions and Animations')
    meta(name='keywords', content='modal, window, overlay, modern, box, css transition, css animation, effect, 3d, perspective')
    meta(name='author', content='Codrops')
    link(rel='shortcut icon', href='../favicon.ico')
    link(rel='stylesheet', type='text/css', href='/css/modals/default.css')
    link(rel='stylesheet', type='text/css', href='/css/modals/component.css')
    script(src='/js/modals/modernizr.custom.js')
  body
 
    #modal-12.md-modal.md-effect-12
      .md-content
        h3 Modal Dialog
        div
          p This is a modal window. You can do the following things with it:
          ul
            li
              strong Read:
              |  modal windows will probably tell you something important so don't forget to read what they say.
            li
              strong Look:
              |  a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.
            li
              strong Close:
              |  click on the button below to close the modal.
          button.md-close Close me!
    .container
      // Top Navigation
      header
        h1
          | Nifty Modal Window Effects 
          span Some inspiration for different modal window appearances
      .main.clearfix
        .column
          p
            | There are many possibilities for modal overlays to appear. Here are some modern ways of showing them using CSS transitions and animations.
        .column
          button.md-trigger(data-modal='modal-12') Just Me
          
    // /container
    .md-overlay
    // the overlay element
    // classie.js by @desandro: https://github.com/desandro/classie
    script(src='/js/modals/classie.js')
    script(src='/js/modals/modalEffects.js')
    // for the blur effect
    // by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill
    script.
      // this is important for IEs
      var polyfilter_scriptpath = '/js/';
    script(src='/js/modals/cssParser.js')
    script(src='/js/modals/css-filters-polyfill.js')

